* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background-color: #1B1B1E;
}

h1 {
    font-size: 28pt;
    font-weight: bold;
    color: #FBFFFE;
    padding: 12px;
}

h2 {
    font-size: 20pt;
    font-weight: normal;
    color: #FBFFFE;

}

p {
    font-size: 12pt;
    font-weight: thin;
    color: #FBFFFE;

}

ul {
    list-style: none;
    color: #FBFFFE;
}

ol {
    color: #FBFFFE;
}

li a {
    text-decoration: none;
    color: #FBFFFE;
}

li a:visited {
    color: darkred;
}

li a:hover {
    color: darkorange;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}